@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
::-webkit-scrollbar {
  display: none;
}
* {
  @apply m-0 p-0 text-gray-600;
  /* font-family: "Poppins", sans-serif; */
  font: 400;
  font-style: normal;
}
html {
  @apply bg-[#eeeeee];
}
body > * {
  @apply max-w-screen-2xl mx-auto;
}
body:first-child, body:last-child {
  @apply w-full;
}

@keyframes mouseScroll {
  0% {transform: translateY(0)}
  80% {transform: translateY(3px)}
  100% {transform: translateY(0)}
}

.section-heading {
  @apply text-5xl text-black font-semibold py-5;
}
.section-text {
  @apply text-lg text-gray-700 pb-5;
}
.section-subheading {
  @apply text-3xl font-semibold text-black;
}

/*--------------------------------------------------------*/
/*-------------------- Contact page --------------------*/
/*--------------------------------------------------------*/
.contact-message-to-me fieldset {
  @apply my-8 border-2 border-gray-500 rounded-2xl;
}
.contact-message-to-me legend {
  @apply ml-5 px-2 text-left text-gray-800;
}
.contact-message-to-me input {
  @apply mb-3 pl-4 block h-8 w-full rounded-xl bg-transparent outline-none;
}

.talk-to-me-svg {
  @apply size-9 pl-2 inline fill-none group-hover:translate-x-2 duration-300;
}